@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 font-family:sans-serif;
}
body{
  background-color: #FFFFFF;
  overflow-x: hidden;
 cursor: url(./cursor-pointer.svg), none;
}
.avbar-default {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.navbar-default.block {
  max-height: 500px; 
}

@keyframes moveStars {
  0% {
    transform: translateY(-100vh) translateX(0%);
  }
  100% {
    transform: translateY(100vh) translateX(0%);
  }
}

.animate-star {
  animation: moveStars 60s linear infinite;
}

.infinity-icon {
  width: 100px;
  height: 50px;
  position: relative;
}

.ocean {
  height: 5%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #036783;
}
.infinity-icon {
  position: relative;
  width: 100px;  /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
}

.infinity-icon .left,
.infinity-icon .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: 10px solid;
}

.infinity-icon .left {
  left: 0;
  border-color: #2B7BC1;
  animation: colorChangeLeft 3s linear infinite;
}

.infinity-icon .right {
  right: 0;
  border-color: #103A5D;
  animation: colorChangeRight 3s linear infinite;
}

@keyframes colorChangeLeft {
  0%, 100% {
    border-color: #2B7BC1;
  }
  50% {
    border-color: #103A5D;
  }
}

@keyframes colorChangeRight {
  0%, 100% {
    border-color: #103A5D;
  }
  50% {
    border-color: #2B7BC1;
  }
}

.boxshadow{
  box-shadow: 2px 2px rgba(0, 0, 0, 0.184);
}

.sp-shadow{
  box-shadow: 4px 4px 4px 4px rgba(0, 255, 47, 0.12);
}
.ps-shadow{
  box-shadow: 4px 4px 4px 4px rgba(0, 110, 255, 0.12);
}
.cs-shadow{
  box-shadow: 4px 4px 4px 4px rgba(255, 0, 0, 0.12);
}
/* Apply this gradient to the text */
.ai-gradient-bg{
  background: linear-gradient(135deg, #0080ff, #af69ff, #FF69B4, #0080ff); 
}
.ai-gradient-text {
  font-size: 33px; /* Adjust the font size */
  font-weight: bold;
  text-shadow: 3px 3px   rgba(255, 255, 255, 0.141);
  background: linear-gradient(135deg, #0080ff, #af69ff, #FF69B4, #0080ff); /* Updated gradient */
  -webkit-background-clip: text; /* For Webkit browsers (Chrome, Safari) */
  background-clip: text; /* For other browsers that support this property */
  color: transparent;
  text-align: center; /* Adjust text alignment as needed */
  animation: gradient-animation 6s ease-in-out infinite, glowing 6s ease-in-out infinite alternate;
}
.ai-gradient-texx {
  font-weight: bold;
  text-shadow: 3px 3px   rgba(0, 0, 0, 0.141);
  background: linear-gradient(135deg, #0080ff, #af69ff, #FF69B4, #0080ff); /* Updated gradient */
  -webkit-background-clip: text; /* For Webkit browsers (Chrome, Safari) */
  background-clip: text; /* For other browsers that support this property */
  color: transparent;
  text-align: center; /* Adjust text alignment as needed */
  animation: gradient-animation 6s ease-in-out infinite, glowing 6s ease-in-out infinite alternate;
}
.ai-gradient-textt {
  padding-top: 3%;
  font-weight: bold;
  background: linear-gradient(135deg, #0080ff, #af69ff, #FF69B4, #0080ff); /* Updated gradient */
  -webkit-background-clip: text; /* For Webkit browsers (Chrome, Safari) */
  background-clip: text; /* For other browsers that support this property */
  color: transparent;
  text-align: center; /* Adjust text alignment as needed */
}
.ai-gradient-texttv{
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: bold;
  background: linear-gradient(135deg, #0080ff, #af69ff, #FF69B4, #0080ff); /* Gradient background */
  background-clip: text; /* For browsers that support this property */
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Text color set to transparent to show gradient */
  text-align: center; /* Center the text */
  display: inline-block; 
}





@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-updown {
  animation: updown 2s ease-in-out infinite;
}
.cloud {
  margin-left: -70px;
  background: white;
  border-radius: 15px;
  width: 100px;
  height:18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0.5); 
  animation: popInOut 5s infinite, animateUpDown 2s infinite; 
}






.text {
  font-size: 0.75rem; /* Smaller text */
  font-weight: bold;
  background: linear-gradient(135deg, #0080ff, #af69ff, #FF69B4, #0080ff); /* Updated gradient */
  -webkit-background-clip: text; /* For Webkit browsers (Chrome, Safari) */
  background-clip: text; /* For other browsers that support this property */
  color: transparent;
  text-align: center; /* Adjust text alignment as needed */
  animation: gradient-animation 6s ease-in-out infinite, glowing 6s ease-in-out infinite alternate;
}

@keyframes popInOut {
  0%, 80% {
    opacity: 0;
    transform: scale(0.5);
  }
  10%, 70% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animateUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
