@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #030712;
}
.avbar-default {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.navbar-default.block {
  max-height: 500px; 
}

@keyframes moveStars {
  0% {
    transform: translateY(-100vh) translateX(0%);
  }
  100% {
    transform: translateY(100vh) translateX(0%);
  }
}

.animate-star {
  animation: moveStars 60s linear infinite;
}

.infinity-icon {
  width: 100px;
  height: 50px;
  position: relative;
}

.infinity-icon .left,
.infinity-icon .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: 10px solid;
}

.infinity-icon .left {
  left: 0;
  border-color: #2B7BC1;
  animation: colorChangeLeft 3s linear infinite;
}

.infinity-icon .right {
  right: 0;
  border-color: #103A5D;
  animation: colorChangeRight 3s linear infinite;
}

@keyframes colorChangeLeft {
  0%, 100% {
    border-color: #2B7BC1;
  }
  50% {
    border-color: #103A5D;
  }
}

@keyframes colorChangeRight {
  0%, 100% {
    border-color: #103A5D;
  }
  50% {
    border-color: #2B7BC1;
  }
}

