@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: #FFFFFF;
  overflow-x: hidden;
}
.avbar-default {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.navbar-default.block {
  max-height: 500px; 
}

@keyframes moveStars {
  0% {
    transform: translateY(-100vh) translateX(0%);
  }
  100% {
    transform: translateY(100vh) translateX(0%);
  }
}

.animate-star {
  animation: moveStars 60s linear infinite;
}

.infinity-icon {
  width: 100px;
  height: 50px;
  position: relative;
}

.ocean {
  height: 5%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #036783;
}

.wave {
  background: url(wave.svg) repeat-x;
  position: absolute;
  width: 6400px;
  top: -198px;
  overflow-x: hidden;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 4s ease infinite;
  opacity: 1;
}

@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}
.infinity-icon {
  position: relative;
  width: 100px;  /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
}

.infinity-icon .left,
.infinity-icon .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: 10px solid;
}

.infinity-icon .left {
  left: 0;
  border-color: #2B7BC1;
  animation: colorChangeLeft 3s linear infinite;
}

.infinity-icon .right {
  right: 0;
  border-color: #103A5D;
  animation: colorChangeRight 3s linear infinite;
}

@keyframes colorChangeLeft {
  0%, 100% {
    border-color: #2B7BC1;
  }
  50% {
    border-color: #103A5D;
  }
}

@keyframes colorChangeRight {
  0%, 100% {
    border-color: #103A5D;
  }
  50% {
    border-color: #2B7BC1;
  }
}

.boxshadow{
  box-shadow: 2px 2px rgba(0, 0, 0, 0.184);
}

